In [1]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [2]:
population = Table.read_table('../Data/population.csv')
countries = Table.read_table('../Data/countries.csv').where('country', are.contained_in(population.group('geo').column(0)))
poverty = Table.read_table('../Data/poverty.csv')
poverty.show(3)

In [29]:
def first(values):
    return values.item(0)

In [41]:
t1 = poverty.sort('time', descending=True)
latest = t1.group('geo', first)
latest = latest.relabeled(2, 'poverty_percent')
latest

geo  | time first | poverty_percent
ago  | 2009       | 43.37
alb  | 2012       | 0.46
arg  | 2011       | 1.41
arm  | 2012       | 1.75
aus  | 2003       | 1.36
aut  | 2004       | 0.34
aze  | 2008       | 0.31
bdi  | 2006       | 81.32
bel  | 2000       | 0.5
ben  | 2012       | 51.61
... (135 rows omitted)

In [51]:
pop_2010 = population.where('time', 2010).drop(1)
poverty_and_pop = latest.drop(1).join('geo', pop_2010,'geo')
poverty_total = np.round(poverty_and_pop.column('population_total') * poverty_and_pop.column('poverty_percent')/100,0)
recent = poverty_and_pop.with_columns('poverty_total', poverty_total)
recent

geo  | poverty_percent | population_total | poverty_total
ago  | 43.37           | 21219954         | 9.20309e+06
alb  | 0.46            | 2901883          | 13349
arg  | 1.41            | 41222875         | 581243
arm  | 1.75            | 2963496          | 51861
aus  | 1.36            | 22162863         | 301415
aut  | 0.34            | 8391986          | 28533
aze  | 0.31            | 9099893          | 28210
bdi  | 81.32           | 9461117          | 7.69378e+06
bel  | 0.5             | 10929978         | 54650
ben  | 51.61           | 9509798          | 4.90801e+06
... (135 rows omitted)