In [1]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [2]:
population = Table.read_table('../Data/population.csv')
population.show(3)

In [8]:
b_pop = population.where('geo', 'bgd')
b_pop = b_pop.drop(0).where('time', are.between(1970,2016))
b_pop

time | population_total
1970 | 65048701
1971 | 66417450
1972 | 67578486
1973 | 68658472
1974 | 69837960
1975 | 71247153
1976 | 72930206
1977 | 74848466
1978 | 76948378
1979 | 79141947
... (36 rows omitted)

In [10]:
b_pop.set_format('population_total', NumberFormatter)

time | population_total
1970 | 65,048,701
1971 | 66,417,450
1972 | 67,578,486
1973 | 68,658,472
1974 | 69,837,960
1975 | 71,247,153
1976 | 72,930,206
1977 | 74,848,466
1978 | 76,948,378
1979 | 79,141,947
... (36 rows omitted)

In [11]:
fives = np.arange(1970,2016,5)
b_five = b_pop.sort('time').where('time', are.contained_in(fives))
b_five

time | population_total
1970 | 65,048,701
1975 | 71,247,153
1980 | 81,364,176
1985 | 93,015,182
1990 | 105,983,136
1995 | 118,427,768
2000 | 131,280,739
2005 | 142,929,979
2010 | 151,616,777
2015 | 160,995,642

In [12]:
b_1970_through_2010 = b_five.where('time', are.below_or_equal_to(2010))
b_five_growth = b_1970_through_2010.with_column('annual_growth', (b_five.exclude(0).column(1)/b_1970_through_2010.column(1))**0.2-1)
b_five_growth.set_format('annual_growth', PercentFormatter)

time | population_total | annual_growth
1970 | 65,048,701       | 1.84%
1975 | 71,247,153       | 2.69%
1980 | 81,364,176       | 2.71%
1985 | 93,015,182       | 2.64%
1990 | 105,983,136      | 2.25%
1995 | 118,427,768      | 2.08%
2000 | 131,280,739      | 1.71%
2005 | 142,929,979      | 1.19%
2010 | 151,616,777      | 1.21%

In [13]:
life_expectancy = Table.read_table('../Data/life_expectancy.csv')
child_mortality = Table.read_table('../Data/child_mortality.csv')
fertility = Table.read_table('../Data/fertility.csv')

In [15]:
fertility.show(3)

In [20]:
c1 = fertility.column('geo')=='bgd'
c2 = fertility.column('time') >= 1970
country_fertility_after_start = fertility.where(c1 & c2)
country_fertility_after_start

geo  | time | children_per_woman_total_fertility
bgd  | 1970 | 6.95
bgd  | 1971 | 6.94
bgd  | 1972 | 6.93
bgd  | 1973 | 6.9
bgd  | 1974 | 6.87
bgd  | 1975 | 6.82
bgd  | 1976 | 6.76
bgd  | 1977 | 6.68
bgd  | 1978 | 6.59
bgd  | 1979 | 6.48
... (36 rows omitted)

In [21]:
child_mortality.show(3)