In [1]:
import pandas as pd
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
cones_df = pd.read_csv('../Data/cones.csv')
cones_df

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [3]:
flowers1 = pd.DataFrame(data={'Number of petals':[8,34,5], 'Name':['lotus', 'sunflower', 'rose']})
flowers1

   Number of petals       Name
0                 8      lotus
1                34  sunflower
2                 5       rose

In [5]:
cones_df[['Flavor','Color']]

       Flavor        Color
0  strawberry         pink
1   chocolate  light brown
2   chocolate   dark brown
3  strawberry         pink
4   chocolate   dark brown
5   bubblegum         pink

In [6]:
cones_df[0:2]

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75

In [7]:
cones_df

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [8]:
cones_df.loc[:, 'Color']

0           pink
1    light brown
2     dark brown
3           pink
4     dark brown
5           pink
Name: Color, dtype: object

In [9]:
type(cones_df.loc[:,'Color'])

pandas.core.series.Series

In [11]:
cones_df.loc[['Color']]

KeyError: "None of [Index(['Color'], dtype='object')] are in the [index]"

In [12]:
cones_df[["Color"]]

         Color
0         pink
1  light brown
2   dark brown
3         pink
4   dark brown
5         pink

In [13]:
cones_df

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

In [14]:
cones_df[cones_df.Price>4]

       Flavor        Color  Price
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75